#deploy/terraform/proxmox-debian-11-template/variables.tf
**.tfstate**
.terraform**
kubeconfig
deploy/mysecrets/id_rsa**
deploy/terraform/k3s/variables.tf
deploy/terraform/proxmox-debian-11-template/variables.tf
