**/.terraform/*
**/.terraform.lock.hcl*
**.tfstate
**.tfstate.*
**kubeconfig
variables.tf
**myusers.yaml
deploy/mysecrets/argocd-optional-prod.yaml
deploy/terraform/variables.tf
deploy/mysecrets/argocd-optional-staging.yaml
deploy/mysecrets/cloudflare-credentials-external-dns.yaml
deploy/linkerd_keys/**
deploy/mysecrets/authelia_config.yaml
eploy/mysecrets/cloudflare-credentials-external-dns-encrypted.yaml

