## deploy/terraform/k3s section
variable "ssh_public_key" {
    type = string
    default = "ssh-rsa AAA= user@host"
}
variable "pm_api_url" {
    type = string
    default = "https://172.16.137.14:8006/api2/json"
}
variable "pm_password" {
    type = string
    default = "demotime"
}
variable "pm_user" {
    type = string
    default = "root@pam"
}
variable "vm_node" {
    type = string
    default = "homeserver" 
}
variable "vm_mem" {
    type = string
    default = "10238" 
}
variable "kubernetes_version" {
    type = string
    default = "v1.21.7+k3s1"
}
variable "k3s_nodename_01" {
    type = string
    default = "k3s-master-01"
}
variable "k3s_nodename_02" {
    type = string
    default = "k3s-master-02"
}
variable "k3s_nodename_03" {
    type = string
    default = "k3s-master-03"
}
variable "k3s_internal_ip_node_01" {
    type = string
    default = "172.16.137.101"
}
variable "k3s_internal_ip_node_02" {
    type = string
    default = "172.16.137.102"
}
variable "k3s_internal_ip_node_03" {
    type = string
    default = "172.16.137.103"
}
variable "k3s_external_ip_node_01" {
    type = string
    default = "1.2.3.4"
}
variable "k3s_external_ip_node_02" {
    type = string
    default = "1.2.3.4"
}
variable "k3s_external_ip_node_03" {
    type = string
    default = "1.2.3.4"
}
variable "cores_k3s_01" {
    type = string
    default = "2"
}
variable "memory_k3s_01" {
    type = string
    default = "4096"
}
variable "cores_k3s_02" {
    type = string
    default = "2"
}
variable "memory_k3s_02" {
    type = string
    default = "4096"
}
variable "cores_k3s_03" {
    type = string
    default = "2"
}
variable "memory_k3s_03" {
    type = string
    default = "4096"
}
variable "proxmox_node_name" {
    type = string
    default = "homeserver"
}
variable "k3s_bridge_01" {
    type = string
    default = "vmbr0"
}
variable "k3s_macaddr_01" {
    type = string
    default = "8E:AB:AB:4C:CE:A0"
}
variable "k3s_bridge_02" {
    type = string
    default = "vmbr0"
}
variable "k3s_macaddr_02" {
    type = string
    default = "8E:AB:AB:4C:CE:A1"
}
variable "k3s_bridge_03" {
    type = string
    default = "vmbr0"
}
variable "k3s_macaddr_03" {
    type = string
    default = "8E:AB:AB:4C:CE:A2"
}
variable "k3s_disksize_01" {
    type = string
    default = "100G"
}
variable "k3s_disksize_02" {
    type = string
    default = "100G"
}
variable "k3s_disksize_03" {
    type = string
    default = "100G"
}