---
apiVersion: v1
kind: Secret
metadata:
  name: nextcloud
  namespace: nextcloud
type: Opaque
stringData:
  username: awknode
  password: homelab
  smtp_username: smtp_username
  smtp_password: smtp_password
  pgusername: ncloud
  pgpassword: homelab
  postgresql-password: homelab
  postgresql-postgres-password: homelab
