---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-secrets
  namespace: external-dns
type: Opaque
stringData:
  cloudflare_api_token: "COPYPASTETOKENHERE"
  cloudflare_api_key: "COPYPASTEKEYHERE"
